<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Projects</title>
</head>
<body>
	{{> header}}
	<p>This is a Portfolio Page</p>
	<div>
		<h3>Links Available </h3>
		<ul>
			<li><a href="/bad">Maintenance Page</a></li>
			<li><a href="help.html">Help</a></li>
		</ul>
	</div>
	{{> footer}}
</body>
</html>